{% extends 'main/layout.html'%}
{% block title %}Расписание тренировок {%endblock%}

{% block content %}
<div class="features">
    <h1> Расписание тренировок</h1>
    <p> Loremfhjkfhbnkmlj.h,bfrtyuyiytre4etyhtu78xghmjjhgfdsdfhgjklmhngfddfghjkljkhjhmgfdsdefrgthyjugilhoijkhmngbfdergtcyuikgkjmhnbgfvgthyjuki,mjnhbgftyujikjm nbghyjuikjmjnhgnjuhngbyjunhddghjkl;j9okuh7gjyt5r4fd3sfagtdhyfujgthiky0uolp;-u;k8ihj 7u6yjgt5r4f54df35tgdryuj67oh8i9uj0pioilujnhbvcv bkj8iuyhgtre5t6uy7igkyjhtretyukjhgbfghjukijuhytgrfio9iuygtrrfew4t5y67u8tuyjtrgefwddr4t5sy67u8i9oikjhgfrgfgtry6u78ikujghvcgxcgv</p>
    <a rel="stylesheet" href=""><button class="btn btn-danger" id="btn-schedule">Записаться на тренировку</button></a>

</div>
{%endblock%}