{% extends 'main/layout.html'%}
{% block title %}Расписание тренировок {%endblock%}

{% block content %}
<div class="features">

    <table>
<tr><th colspan="5">Расписание тренировок на Декабрь</th></tr>
 <tr>
  <td>Понедельник</td>
  <td>Вторник</td>
  <td>Среда</td>
  <td>Четверг</td>
  <td>Пятница</td>
 </tr>
<tr>

  <td>28</td>
  <td>29</td>
  <td>30</td>
  <td>1<br> Начальный уровень<br>17:00</td>
  <td>2<br> Средний уровень<br>17:00</td>
</tr>
<tr>
  <td>5<br> Сильный уровень<br>17:00</td>
  <td>6<br> Начальный уровень<br>17:00</td>
  <td>7<br> Средний уровень<br>17:00</td>
  <td>8<br> Сильный уровень<br>17:00</td>
  <td>9<br> Начальный уровень<br>17:00</td>
</tr>
<tr>
  <td>12<br> Средий<br>уровень<br>18:00</td>
  <td>13<br> Начальный уровень<br>20:00</td>
  <td>14<br> Сильный уровень<br>15:00</td>
  <td>15<br> Начальный уровень<br>17:00</td>
  <td>16<br> Средний уровень<br>17:00</td>
</tr>
  <tr>
  <td>19<br> Начальный уровень<br>17:00</td>
  <td>20<br> Сильный уровень<br>17:00</td>
  <td>21<br> Средний уровень<br>17:00</td>
  <td>22<br> Сильный уровень<br>17:00</td>
  <td>23<br> Начальный уровень<br>17:00</td>
</tr>
  <tr>
  <td>26<br> Сильный уровень<br>17:00</td>
  <td>27<br> Средний уровень<br>17:00</td>
  <td>28<br> Сильный уровень<br>17:00</td>
  <td>29<br> Начальный уровень<br>17:00</td>
  <td>30<br> Сильный уровень<br>17:00</td>
  <td colspan="3"></td>
</tr>
 </table>
    <br>
    <a rel="stylesheet" href="{%url 'training'%}">
        <button class="btn btn-danger" id="btn-schedule" >Записаться на тренировку</button>
    </a>
    <br>
    <br>
    	<figure>
			<img src='static/main/img/7.jpg' width="320" height="175" alt="">
			<figcaption>Пётр<span>Ветров</span></figcaption>
		</figure>
     <br>
</div>

{%endblock%}