{% extends 'main/layout.html'%}
{% block title %}Главная страница{%endblock%}

{% block content %}


<section>
	<blockquote>
		<p>
			“Баскетбольная площадка — это то место, где я могу забыть о всех своих проблемах.”
		</p>
		<cite>Бэрон Дэвис</cite>
	</blockquote>

	<div class="features">
		<h1>Наши тренеры</h1>
		<figure>
			<img src='static/main/img/0.jpg' width="320" height="175" alt="">
			<figcaption>Алексей<span>Петров</span></figcaption>
		</figure>
		<figure>
			<img src='static/main/img/6.jpg' width="320" height="175" alt="">
			<figcaption>Александр<span>Филипов</span></figcaption>
		</figure>
		<figure>
			<img src='static/main/img/7.jpg' width="320" height="175" alt="">
			<figcaption>Пётр<span>Ветров</span></figcaption>
		</figure>
		<figure>
		<img src='static/main/img/9.jpg' width="320" height="175" alt="">
		<figcaption>Андрей<span>Иванов</span></figcaption>
		</figure>
		<figure>
		<img src='static/main/img/9.jpg' width="320" height="175" alt="">
		<figcaption>Андрей<span>Иванов</span></figcaption>
		</figure><br>
		<a rel="stylesheet" href="{%url 'timetable'%}">
			<button class="btn btn-warning">Расписание тренировок</button>
		</a>

	</div>
</section>

{%endblock%}