{% extends 'main/layout.html'%}
{% block title %}Тренеры{%endblock%}

{% block content %}
<div class="features">
    <h1> Тренеры</h1>
    <p>yuikgkjmhnbgfvgthyjuki,mjnhbgftyujikjm nbghyjuikjmjnhgnjuhngbyjunhddghjkl;j9okuh7gyjgt5r4f54df35tgdryuj67oh8i9uj0pioilujnhbvcv bkj8iuyhgtre5t6uy7igkyjhtretyukjhgbfghjukijuhytgrfio9iuygtrrfew4t5y67u8tuyjtrgefwddr4t5sy67u8i9oikjhgfrgfgtry6u78ikujghvcgxcgv</p>
    <a rel="stylesheet" href=""><button class="btn btn-danger" id="btn-schedule"></button></a>

</div>
{%endblock%}