body{
    background:linear-gradient(#5dd4ce, #fff);
}

aside{
    float:left;
    background:#c5edea;
    width:20%;
    height:100vh;
    color:#080a0a;
    border-right: 5px solid #b6d6d4;

}
aside img {
    width:130px;
    float:left;
  }
aside .bool{
    font-size:20px;
    margin-left:10px;
    front-weight:bold;
    position: relative;
    top:17px
    }
aside .navigation{
    font-size:18px;
    margin-top:10px;
    front-weight:bold;
    margin-left:30px;


}
aside ul a {
    text-decoration: none;
}
aside ul {list-style:none}
aside ul li:hover{
    color:black;
    transform:scale(1.10);
    transition: transform .5s ease;
    front-size:30px;
}
main .features {
    float:left;
    color:black;
    margin-top:30px;
    width:75%;
    text-align:center;

}

chief{
    text-align:left;
}

main .features button{
    background:#8bb0e8;
    border:solid #89b2f0;
    color:black;



}
main .features button:hover{
    color:#fff;
    background:#619bf2;
    border:solid #619bf2;

}
main .features #btn-schedule:hover {
    color:#fff;
    background:#619bf2;
    border:solid #619bf2;

}

main .features h1{
    front-size:50px;
    font-family: 'Oswald', sans-serif;
    }
main .features p{margin:20px auto;}

.alert-warning {
   float:center;
   background:#dcfaf8;
   weight:40px;
   margin 50px;
   position: relative;
   text-aling:center;
   top: 50%;
}
form {
    width:500px;
    margin-top:50px;
    margin-left:35%;

}
blockquote {
	margin: 0;
	background: #b6e0de;
	padding: 10px 20px;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
}

blockquote p {
	color: #020807;
	font-style: italic;
	font-size: 33px;
	margin: 0;
}

blockquote cite {
	display:block;
	font-size: 25px;
	font-style: normal;
	color: #020807;
	margin: 0;
	text-align: right;
}
figure {
	display: inline-block;
	margin: 0;
	font-family: 'Oswald', sans-serif;
	font-weight: 30;
}

figure img {
	display: block;
	border: 4px solid #54bfba;
	outline: 2px solid #fff;
}

figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure figcaption span {
	display: block;
	font-size: 15px;
	color: #29c5e6;
}
section figure + figure {
	margin-left: 28px;
}
section  h1 {
	background: #ace5e3;
	font: 30px 'Oswald', sans-serif;
	color: #05050d;
	padding: 0 10px;
	margin: 30px 20 0 0;

}
figure figcaption {
	font-size: 16px;
	font-weight: 300;
	margin-top: 5px;
}

figure div {
	font-size: 20px;
	color: #29c5e6;
}
footer {
    position:fixed;
    left:20%;
    bottom:0px;
    height:90px;
    width:80%;
    background:#ace5e3;
   }

#footer {
    max-width: 960px;
	margin:auto;
	padding: 10px 0;
	height: 60px;
	}



